* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#1864AB, #0A2845);
    color: white;
    min-height: 100vh;
}

/* Header styles */
header {
    background-color: #CFE2F3;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 100;
    position: sticky;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2757A1;
}

.logo a {
    color: #2757A1;
    font-weight: bold;
    text-decoration: none;
}

.search-container {
    flex: 1;
    max-width: 600px;
    margin: 0 2rem;
}

.search-input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: 1px solid #1864AB;
    font-size: 1rem;
    background-color: white;
    color: #1864AB;
}

.search-input::placeholder{
    color: #1864AB;
}

.user-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-icon {
    width: 40px;
    height: 40px;
    background-color: #2757A1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.notification-bell {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: 4px;
}

#bell-icon {
    font-size: 20px;
    color: #1864AB;
}

.notification-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: bold;
}

.notification-count.hidden {
    display: none;
} 

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    flex: 1;
}

/* Left sidebar styles */
.left-sidebar {
    width: 250px;
    border-right: 2px solid #90A7BA;
}

.nav-item {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    color: #CFE2F3;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    margin-right: 12px;
}

.nav-item:hover {
    background-color: #27374D;
}

.nav-item.active {
    background-color: #CFE2F3;
    color: #1864AB;
}

.nav-item.active i {
    color: #1864AB;
}

.nav-item i {
    margin-right: 1rem;
    color: #CFE2F3;
}

/* Main content styles */
main {
    flex-grow: 1;
    min-width: 0;
    padding-top: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

.community-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    max-width: 100%;
}

.community-grid a {
    text-decoration: none;
}

.community-card {
    background-color: #CFE2F3;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
}

.community-card:hover {
    transform: translateY(-5px);
}

.community-image {
    width: 80px;
    height: 80px;
    background-color: #2c3e50;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.community-image i {
    font-size: 2rem;
    color: white;
}

.community-info {
    font-size: 0.9rem;
    color: #1864AB;
    text-align: center;
}

.locked-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #DC5F00;
}

.create-community {
    background-color: #CFE2F3;
    color: #1864AB;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    float: right;
    margin-bottom: 1rem;
}

.create-community:hover {
    background-color: #9bbfe2;
}

.role-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0;
}

.role-toggle button {
    border: 1px solid black;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.role-toggle button.active {
    background-color: #2757A1;
    color: white;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup {
    color: #1864AB;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #CFE2F3;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content {
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.popup #enrollkeyInput {
    color: #CFE2F3;
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #1963A9;
    border-radius: 4px;
    background-color: #1963A9;
    font-size: 16px;
}

#enrollkeyInput::placeholder {
    color: #CFE2F3;
    opacity: 40%;
}

.popup button {
    margin-top: 8px;
    background-color: #1963A9;
    color: #CFE2F3;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.popup button:hover{
    background-color: #113e68;
}